@import 'src/sass/libs/bootstrap-grid.min';
@import 'src/sass/libs/bootstrap-reboot.min';
@import 'src/sass/libs/fonts';
/* @import 'src/sass/libs/slick';
@import 'src/sass/libs/animate'; */

/* @import 'src/sass/base/variables';
@import 'src/sass/base/animations'; */

/* * {
  /* font-family: 'MuseoSansCyrl', sans-serif; }*/
/* .container {
  max-width: 950px;
  margin: 0 auto;
  box-sizing: border-box;
  }
.body{
  margin: 0;
}
@import 'src/sass/blocks/promo';
@import 'src/sass/blocks/header';
@import 'src/sass/blocks/buttons';
@import 'src/sass/blocks/advantage';
@import 'src/sass/blocks/title';
@import 'src/sass/blocks/consultation';
@import 'src/sass/blocks/forms';
@import 'src/sass/blocks/media';
@import 'src/sass/blocks/carrousel';
@import 'src/sass/blocks/catalog';
@import 'src/sass/blocks/slick';
@import 'src/sass/blocks/opinion';
@import 'src/sass/blocks/footer';
@import 'src/sass/blocks/modal';
@import 'src/sass/blocks/pageup' */
